[submodule "src/backend/lib/OpenCL-CLHPP"]
	path = src/backend/lib/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "src/backend/lib/OpenCL-Headers"]
	path = src/backend/lib/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "src/backend/lib/OpenCL-Wrapper"]
	path = src/backend/lib/OpenCL-Wrapper
	url = https://github.com/ProjectPhysX/OpenCL-Wrapper.git
[submodule "src/backend/lib/CLErrorLookup"]
	path = src/backend/lib/CLErrorLookup
	url = https://github.com/otto-link/CLErrorLookup.git
